@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: "Poppins", sans-serif;
    --text-color: #fff;
    --first-color: #ff5b00;
    --first-color-alt: #dae1e1;
    --btn-color: #0a1c42;

    --h2-font-size: 2.625rem;
    --h3-font-size: 1.375rem;
    // --h4-font-size: 1.375rem;
    --medium-font-size: 1.125rem;
    --regular-font-size: 1rem;
    --small-font-size: 0.875rem;
    --fw-bold: 700;
    --fw-regular: 400;

    --max-width: 1440px;
    --padding: 1rem;
}

