.news {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem),1fr));
        gap: 2rem;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 16rem;
    }
    &__image img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__content {
        margin-top: 10rem;
        padding: 1rem;
        position: relative;
        display: flex;
        backdrop-filter: blur(5px);
        color: var(--text-color);
        bottom: 0;
        left: 0;
    }
    &__link {
        padding: 1rem;
        display: flex;
        gap: .5rem;
        align-items: center;
        position: relative;
        color: var(--text-color);
        transition: all 0.3s ease;
        float: right;
        &:hover {
            transform: translate(5px,1px);
        }
        & p {
            text-decoration: underline;
        }
    }
}